<div class="signup-form-container">
  <h2>Unlock fun Summer activities for your child, sign up now.</h2>
  <p>PLUS: Enjoy a special <b>10% discount</b> on your first order.</p>
  <iframe
    id="contlo_embedded_iframe"
    style="border: none;overflow: hidden;"
    width="100%"
    height="100%"
    scrolling="no"
    src=""
  ></iframe>
</div>

<style>
    .signup-form-container {
      text-align: center;
      padding: 2rem;
    }

    .signup-form-container h2 {
      font-family: AvenirBold !important;
  font-size: 24px !important;
  font-weight: 800 !Important;
  line-height: normal !important;
  text-align: center !important;
    }

    .signup-form-container p {
      font-family: AvenirRegular !important;
  font-size: 24px !important;
  font-weight: 350 !important;
  line-height: normal !important;
  text-align: center !important;
      margin: 0 !important;
    }
</style>
