
<style>
    .slider{
    position:relative;
    width:100%;
    overflow:hidden;
    margin:20px auto 0 auto;
    }

    .slider ul{
    position:relative;
    width:100%;
    margin:0;
    padding:0;
    height:auto;
    display:inline-block;
    list-style:none;
    background:#458;
    }


    .slider ul li{
    position:relative;
    float:left;
    display:inline-block;
    margin:0;
    padding:0;
    width: 94vw;
    height:auto;
    background:#fff;
    text-align:center;
    color:#333;
    margin: 0 0rem 0 0rem !important;
    }


    .control{
    position: absolute;
    top: 54%;
    z-index: 1;
    display: block;
    cursor: pointer;
    }

    .prev{
    left:0px;
    }

    .next{
    right:0px;
    }
    .hs-cross-sell .hs-frequently-bought{
        
    }
    .hs-cross-sell .hs-frequently-bought p {
        display: block;
        border: none ;
        color: #06374f ;
        font-size: 16px ;
        line-height: 16px ;
        margin: 0 ;
        text-align: center;
        padding: 0px ;
        font-weight: 500 ;
        font-family:'MikadoMedium';
    }
    .hs-cross-sell:not(.hs-upsell_multi_view) .hs-content-product-slide-cart{
        border-radius: 4.835px !important;
        background: #F6F6F6 !important;
        padding: 10px !important;
    }
     .hs-swiper-slide{
        width:94% !important;
        margin:auto;
    }
    @media(min-width:920px){
        .control{
            top:60%;
        }
        .next{
            right:10%;
        }
        .prev{
            left:8%;
            }
        .hs-swiper-slide{
            max-width: 400px;
            margin: auto;
        }
        .slider ul li{
            padding: 0 0.5rem 0 0.8rem !important;
            width:100%;
        }
        .hs-cross-sell .hs-frequently-bought{
            padding: 25px 20px;
        }
        .hs-cross-sell .hs-frequently-bought p{
            font-size:20px;
        }
    }
</style>
<div class="slider hs-container-dynamic-stacked hs-cross-sell"
    style="display: block;"
    data-item="2"
    data-slide="swiperDynamicHSCart('upsell',2)">
    <div class="hs-frequently-bought"><p>People Also Bought</p></div>
   
  
    
   <ul class="hs-products-dynamic-stacked">
      <li > 
        <div class="hs-swiper-slide">
            <div class="hs-content-product-slide-cart ">
            <div class="hs-product-content-image-swipper ">
                <a href="/products/first-100-animals-skill253fca?variant=41937196744893" class="hs-product-link-image"
                ><img
                    loading="lazy"
                    src="//cdn.shopify.com/s/files/1/0568/1945/0045/files/FlashCards-First100Animals1_50504db9-f376-4fab-96f8-fce40c7d1888_x120.webp"
                    alt="Default Title"
                    width="100"
                    height="90"
                ></a>
            </div>
            <div class="hs-content-title-price-swiper hs-link">
                <div class="hs-popup">
                <div title="Flash Cards for toddlers: First 100 Animals (ages 1-4)" class="hs-title-swiper">
                    <a href="/products/first-100-animals-skill253fca?variant=41937196744893" class="hs-product-link-image">
                    Flash Cards for toddlers: First 100 Animals (ages 1-4)
                    </a>
                </div>
                <div class="jdgm-badge-placeholder" data-handle="first-100-animals-skill253fca"></div>
                <div class="hs-content-all-upsell">
                    <div class="hs-content-price-swiper">
                    <div class="hs-compare-price-sw"><span class="money">Rs. 499</span></div>
                    <div class="hs-price-sw"><span class="money">Rs. 474</span></div>
                    </div>
                    <div class="hs-variants-swipper  hs-hidden-element">
                    <div class=" hs-hidden-element">
                        <select
                        data-upsell-type="upsell_manually"
                        data-upsell-index="0"
                        aria-label="hs-swipper-option-7255161897149"
                        class="hs-swipper-option-parent-7255161897149 hs-swipper-select-option-add-to-cart hs-hidden-element hs-event-static"
                        data-id="7255161897149"
                        >
                        <option
                            selected=""
                            value="41937196744893"
                            data-id="7255161897149"
                            data-price="47400"
                            data-sku="SKILL253FCA"
                            data-available="true"
                            data-handle="/products/first-100-animals-skill253fca?variant=41937196744893"
                            data-barcode="8904279502093"
                            data-featuredimage=""
                            data-inventorymanagement="shopify"
                            data-compareatprice="49900"
                            data-variantid="41937196744893"
                            data-selling-plan-group-id=""
                        >
                            Default Title
                        </option>
                        </select>
                    </div>
                    </div>
                    <div class="hs-upsell-add ">
                    <button
                        title="ADD"
                        type="button"
                        class="hs-upsell-add-to-cart btn hs-event-static"
                        data-upsell-type="upsell_manually"
                        data-upsell-index="0"
                        onclick="addUpsell(41937196744893)"
                    >
                        <span class="hs-add--to--cart">ADD</span>
                        <span class="hs--loading">
                        <div class="hs-spinner"></div>
                        </span>
                    </button>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
      </li>
      <li >
        <div class="hs-swiper-slide">
            <div class="hs-content-product-slide-cart ">
            <div class="hs-product-content-image-swipper ">
                <a
                href="/products/letters-numbers-shapes-and-colors-skill256fcln?variant=41936975691965"
                class="hs-product-link-image"
                ><img
                    loading="lazy"
                    src="//cdn.shopify.com/s/files/1/0568/1945/0045/files/FlashCards-Letters_Numbers_Shapes_Colors1_f0757bde-7237-4035-9e9d-37f45b4e9a40_x120.webp"
                    alt="Default Title"
                    width="100"
                    height="90"
                ></a>
            </div>
            <div class="hs-content-title-price-swiper hs-link">
                <div class="hs-popup">
                <div
                    title="Flash Cards for toddlers: Letters, Numbers, Shapes &amp; Colors (ages 1-4)"
                    class="hs-title-swiper"
                >
                    <a
                    href="/products/letters-numbers-shapes-and-colors-skill256fcln?variant=41936975691965"
                    class="hs-product-link-image"
                    >
                    Flash Cards for toddlers: Letters, Numbers, Shapes &amp; Colors (ages 1-4)
                    </a>
                </div>
                <div class="jdgm-badge-placeholder" data-handle="letters-numbers-shapes-and-colors-skill256fcln"></div>
                <div class="hs-content-all-upsell">
                    <div class="hs-content-price-swiper">
                    <div class="hs-compare-price-sw"><span class="money">Rs. 499</span></div>
                    <div class="hs-price-sw"><span class="money">Rs. 449</span></div>
                    </div>
                    <div class="hs-variants-swipper  hs-hidden-element">
                    <div class=" hs-hidden-element">
                        <select
                        data-upsell-type="upsell_manually"
                        data-upsell-index="1"
                        aria-label="hs-swipper-option-7255136698557"
                        class="hs-swipper-option-parent-7255136698557 hs-swipper-select-option-add-to-cart hs-hidden-element hs-event-static"
                        data-id="7255136698557"
                        >
                        <option
                            selected=""
                            value="41936975691965"
                            data-id="7255136698557"
                            data-price="44910"
                            data-sku="SKILL256FCLN"
                            data-available="true"
                            data-handle="/products/letters-numbers-shapes-and-colors-skill256fcln?variant=41936975691965"
                            data-barcode="8904279502130"
                            data-featuredimage=""
                            data-inventorymanagement="shopify"
                            data-compareatprice="49900"
                            data-variantid="41936975691965"
                            data-selling-plan-group-id=""
                        >
                            Default Title
                        </option>
                        </select>
                    </div>
                    </div>
                    <div class="hs-upsell-add ">
                    <button
                        title="ADD"
                        type="button"
                        class="hs-upsell-add-to-cart btn hs-event-static"
                        data-upsell-type="upsell_manually"
                        data-upsell-index="1"
                        onclick="addUpsell(41936975691965)"
                    >
                        <span class="hs-add--to--cart">ADD</span>
                        <span class="hs--loading">
                        <div class="hs-spinner"></div>
                        </span>
                    </button>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>  
      </li>
      
    </ul>
  
    <a href="#0" class="next control">
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17" viewBox="0 0 10 17" fill="none">
        <path d="M1.14229 0.717663C0.916787 0.943235 0.790106 1.24914 0.790106 1.56809C0.790106 1.88705 0.916787 2.19295 1.14229 2.41852L7.09652 8.37274L1.14229 14.327C0.923179 14.5538 0.801935 14.8577 0.804676 15.1731C0.807417 15.4884 0.933922 15.7901 1.15694 16.0132C1.37997 16.2362 1.68166 16.3627 1.99705 16.3654C2.31244 16.3682 2.61629 16.2469 2.84316 16.0278L9.64781 9.22317C9.87332 8.9976 10 8.6917 10 8.37274C10 8.05378 9.87332 7.74788 9.64781 7.52231L2.84316 0.717663C2.61758 0.492159 2.31168 0.365479 1.99272 0.365479C1.67376 0.365479 1.36786 0.492159 1.14229 0.717663Z" fill="#06374F"/>
        </svg>
    </a>
    <a href="#0" class="prev control">
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17" viewBox="0 0 10 17" fill="none">
        <path d="M8.85771 0.967663C9.08321 1.19323 9.20989 1.49914 9.20989 1.81809C9.20989 2.13705 9.08321 2.44295 8.85771 2.66852L2.90348 8.62274L8.85771 14.577C9.07682 14.8038 9.19806 15.1077 9.19532 15.4231C9.19258 15.7384 9.06608 16.0401 8.84306 16.2632C8.62003 16.4862 8.31834 16.6127 8.00295 16.6154C7.68756 16.6182 7.38371 16.4969 7.15684 16.2778L0.352185 9.47317C0.126681 9.2476 0 8.9417 0 8.62274C0 8.30378 0.126681 7.99788 0.352185 7.77231L7.15684 0.967663C7.38242 0.742159 7.68832 0.615479 8.00728 0.615479C8.32624 0.615479 8.63214 0.742159 8.85771 0.967663Z" fill="#06374F"/>
        </svg>
    </a>
    {% comment %} <div class="slider_option">
      <Button class="btn">Autoplay</Button>
    </div> {% endcomment %}
  
  </div>
  <script>
    $(function() {
  
        var slideCount =  $(".slider ul li").length;
        var slideWidth =  $(".slider ul li").width();
        var slideHeight =  $(".slider ul li").height();
        var slideUlWidth =  slideCount * slideWidth;
        
        {% comment %} $(".slider").css({ "height": slideHeight}); {% endcomment %}
        $(".slider ul").css({"width":slideUlWidth,"margin-left": - slideWidth });
        $(".slider ul li").css({"width":slideUlWidth/slideCount});
        $(".slider ul li:last-child").prependTo($(".slider ul"));
        
        function moveLeft() {
          $(".slider ul").stop().animate({
            left: + slideWidth
          },700, function() {
            $(".slider ul li:last-child").prependTo($(".slider ul"));
            $(".slider ul").css("left","");
          });
        }
        
        function moveRight() {
          $(".slider ul").stop().animate({
            left: - slideWidth
          },700, function() {
            $(".slider ul li:first-child").appendTo($(".slider ul"));
            $(".slider ul").css("left","");
          });
        }
        
        
        $(".next").on("click",function(){
          moveRight();
        });
        
        $(".prev").on("click",function(){
          moveLeft();
        });
        let touchstartX = 0
        let touchendX = 0
            
        function checkDirection() {
            if (touchendX < touchstartX){
                moveRight();
                {% comment %} alert('swiped left!') {% endcomment %}
            } 
            if (touchendX > touchstartX){ 
                moveLeft();
                {% comment %} alert('swiped right!') {% endcomment %}
            }
        }

        document.addEventListener('touchstart', e => {
        touchstartX = e.changedTouches[0].screenX;
        })

        document.addEventListener('touchend', e => {
        touchendX = e.changedTouches[0].screenX;
        checkDirection()
        })
        
      });
    </script>