<div class="marqueeWrapper">
    <p class="marquee marquee1">
      <span>{% render 'marqueeStar' %} Award-winning Games & Activities</span>
      <span>{% render 'marqueeStar' %} Products starting at Rs.225/unit</span>
      <span>{% render 'marqueeStar' %} 5000+ Parties Served</span>
      <span>{% render 'marqueeStar' %} Personalised Recommendations</span>
      <span>{% render 'marqueeStar' %} Special Discounts on Bulk Orders</span>
      <span>{% render 'marqueeStar' %} 1,50,000+ Reviews (4.8/5 Rating)</span>
      <span>{% render 'marqueeStar' %} 1 Crore+ Happy Families</span>
    </p>
    <p class="marquee marquee2">
      <span>{% render 'marqueeStar' %} Award-winning Games & Activities</span>
      <span>{% render 'marqueeStar' %} Products starting at Rs.225/unit</span>
      <span>{% render 'marqueeStar' %} 5000+ Parties Served</span>
      <span>{% render 'marqueeStar' %} Personalised Recommendations</span>
      <span>{% render 'marqueeStar' %} Special Discounts on Bulk Orders</span>
      <span>{% render 'marqueeStar' %} 1,50,000+ Reviews (4.8/5 Rating)</span>
      <span>{% render 'marqueeStar' %} 1 Crore+ Happy Families</span>
    </p>
</div>

