<div
  class="hs-container-dynamic-stacked hs-cross-sell"
  style="display: block;"
  data-item="2"
  data-slide="swiperDynamicHSCart('upsell',2)"
>
 
  <div class="hs-products-dynamic-stacked">
    <div class="hs-swiper-slide">
      <div class="hs-content-product-slide-cart ">
        <div class="hs-product-content-image-swipper ">
          <a href="/products/first-100-animals-skill253fca?variant=41937196744893" class="hs-product-link-image"
            ><img
              loading="lazy"
              src="//cdn.shopify.com/s/files/1/0568/1945/0045/files/FlashCards-First100Animals1_50504db9-f376-4fab-96f8-fce40c7d1888_x120.webp"
              alt="Default Title"
              width="100"
              height="90"
          ></a>
        </div>
        <div class="hs-content-title-price-swiper hs-link">
          <div class="hs-popup">
            <div title="Flash Cards for toddlers: First 100 Animals (ages 1-4)" class="hs-title-swiper">
              <a href="/products/first-100-animals-skill253fca?variant=41937196744893" class="hs-product-link-image">
                Flash Cards for toddlers: First 100 Animals (ages 1-4)
              </a>
            </div>
            <div class="jdgm-badge-placeholder" data-handle="first-100-animals-skill253fca"></div>
            <div class="hs-content-all-upsell">
              <div class="hs-content-price-swiper">
                <div class="hs-compare-price-sw"><span class="money">Rs. 499</span></div>
                <div class="hs-price-sw"><span class="money">Rs. 474</span></div>
              </div>
              <div class="hs-variants-swipper  hs-hidden-element">
                <div class=" hs-hidden-element">
                  <select
                    data-upsell-type="upsell_manually"
                    data-upsell-index="0"
                    aria-label="hs-swipper-option-7255161897149"
                    class="hs-swipper-option-parent-7255161897149 hs-swipper-select-option-add-to-cart hs-hidden-element hs-event-static"
                    data-id="7255161897149"
                  >
                    <option
                      selected=""
                      value="41937196744893"
                      data-id="7255161897149"
                      data-price="47400"
                      data-sku="SKILL253FCA"
                      data-available="true"
                      data-handle="/products/first-100-animals-skill253fca?variant=41937196744893"
                      data-barcode="8904279502093"
                      data-featuredimage=""
                      data-inventorymanagement="shopify"
                      data-compareatprice="49900"
                      data-variantid="41937196744893"
                      data-selling-plan-group-id=""
                    >
                      Default Title
                    </option>
                  </select>
                </div>
              </div>
              <div class="hs-upsell-add ">
                <button
                  title="ADD"
                  type="button"
                  class="hs-upsell-add-to-cart btn hs-event-static"
                  data-upsell-type="upsell_manually"
                  data-upsell-index="0"
                >
                  <span class="hs-add--to--cart">ADD</span>
                  <span class="hs--loading">
                    <div class="hs-spinner"></div>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hs-swiper-slide">
      <div class="hs-content-product-slide-cart ">
        <div class="hs-product-content-image-swipper ">
          <a
            href="/products/letters-numbers-shapes-and-colors-skill256fcln?variant=41936975691965"
            class="hs-product-link-image"
            ><img
              loading="lazy"
              src="//cdn.shopify.com/s/files/1/0568/1945/0045/files/FlashCards-Letters_Numbers_Shapes_Colors1_f0757bde-7237-4035-9e9d-37f45b4e9a40_x120.webp"
              alt="Default Title"
              width="100"
              height="90"
          ></a>
        </div>
        <div class="hs-content-title-price-swiper hs-link">
          <div class="hs-popup">
            <div
              title="Flash Cards for toddlers: Letters, Numbers, Shapes &amp; Colors (ages 1-4)"
              class="hs-title-swiper"
            >
              <a
                href="/products/letters-numbers-shapes-and-colors-skill256fcln?variant=41936975691965"
                class="hs-product-link-image"
              >
                Flash Cards for toddlers: Letters, Numbers, Shapes &amp; Colors (ages 1-4)
              </a>
            </div>
            <div class="jdgm-badge-placeholder" data-handle="letters-numbers-shapes-and-colors-skill256fcln"></div>
            <div class="hs-content-all-upsell">
              <div class="hs-content-price-swiper">
                <div class="hs-compare-price-sw"><span class="money">Rs. 499</span></div>
                <div class="hs-price-sw"><span class="money">Rs. 449</span></div>
              </div>
              <div class="hs-variants-swipper  hs-hidden-element">
                <div class=" hs-hidden-element">
                  <select
                    data-upsell-type="upsell_manually"
                    data-upsell-index="1"
                    aria-label="hs-swipper-option-7255136698557"
                    class="hs-swipper-option-parent-7255136698557 hs-swipper-select-option-add-to-cart hs-hidden-element hs-event-static"
                    data-id="7255136698557"
                  >
                    <option
                      selected=""
                      value="41936975691965"
                      data-id="7255136698557"
                      data-price="44910"
                      data-sku="SKILL256FCLN"
                      data-available="true"
                      data-handle="/products/letters-numbers-shapes-and-colors-skill256fcln?variant=41936975691965"
                      data-barcode="8904279502130"
                      data-featuredimage=""
                      data-inventorymanagement="shopify"
                      data-compareatprice="49900"
                      data-variantid="41936975691965"
                      data-selling-plan-group-id=""
                    >
                      Default Title
                    </option>
                  </select>
                </div>
              </div>
              <div class="hs-upsell-add ">
                <button
                  title="ADD"
                  type="button"
                  class="hs-upsell-add-to-cart btn hs-event-static"
                  data-upsell-type="upsell_manually"
                  data-upsell-index="1"
                >
                  <span class="hs-add--to--cart">ADD</span>
                  <span class="hs--loading">
                    <div class="hs-spinner"></div>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
