<style>
  
    #stickyViewCart{
      display:none;
  }
    .cards label{
      height:100%;
      }
      .cards .arv-collection{
          padding:0 0 0 10px;
          width:100%;
      }
    .lead-gen-container{
      padding:4rem;
      background: rgb(253,247,244);
      padding-top:0rem;
  }
  .banner-q1 {
      margin:0 -4rem 2rem -4rem;
  }
  .banner-q1 .mob{
      display:none;
  }
  .banner-q1 .desk{
      display:block;
      width:100%;
  }
    .heading-conatiner {
      padding: 10px;
      text-align: center;
    }
    .heading-conatiner .sub-heading {
      width: 75%;
      margin: auto;
      color: #06374F;
      text-align: center;
      font-family: 'Avenir';
      font-size: 24px;
      font-style: normal;
      font-weight: 350;
      line-height: normal;
    }
    .heading {
      margin: 5px 10px;
      padding: 10px;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background: #E9F4FA;
    }
    .heading p {
      margin:0;
    }
    .heading p span {
      color: #06374F;
      font-family: Avenir;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin:0 5px;
      white-space:nowrap;
    }
    
    .age-buttons,
    .theme-buttons {
      margin: 10px;
    }
    .age-buttons input,
    .theme-buttons input {
      display: none;
    }
    .age-buttons label,
    .theme-buttons label {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width:100%;
    }
    .age-buttons.m1{
      display:grid;
      grid-template-columns: repeat(4,1fr);
      gap:2rem;
  }
  .age-buttons.m1 label{
      width:100%;
  }
    .age-buttons.m1 label img{
      border-radius:10px;
      width:100%;
  }
    .age-buttons label img,
    .theme-buttons img {
      margin-top: 10px;
      height: 50%;
      width: 50%;
      border-radius: 50%;
      max-height: 200px;
      flex-wrap: ;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      border: 2px solid var(--Secondary-Red, #FF805A);
      background: #FF805A;
      padding: 6px 30px;
      color: #FFF;
      text-align: center;
      font-family: Avenir;
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.24px;
      width: fit-content;
    }
    {% comment %} button {
      height: 45px;
      width: 30%;
    } {% endcomment %}
    .age-buttons,
    .theme-buttons {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    .footer {
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
    .footer .heading-conatiner,
    .footer .heading-conatiner-2 {
      width: 100% ;
    }
   
    .footer .heading-conatiner-2 .sort-container {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-left: 20px;
    }
    
    .form-container2 .heading-2 .title,
    .form-container3 .heading-3.title {
      width: 100%;
      padding: 5px;
      margin: 10px auto;
      color: #06374F;
      text-align: center;
      font-family: 'Avenir';
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .form-container2 .heading-2 .title {
      margin-right: 3px;
    }
    .footer .heading-2 {
      background-color: rgb(243, 243, 243);
      margin: 20px;
      padding: 5px;
    }
  
    .footer .heading-conatiner-2 .sort-container .sort-item {
      background-color: rgb(238, 238, 238);
      border: 2px solid rgb(157, 157, 157);
      padding: 20px 10px;
      width: 20%;
      text-align: center;
      font-size: large;
      min-width: 150px;
      cursor: pointer;
    }
    .theme-buttons.f1.popup .sort-item {
      border-radius: 36px;
      border: 1px solid rgba(6, 55, 79, 0.20);
      background: #FFF;
      cursor: pointer;
      color: #06374F;
      text-align: center;
      font-family: 'Avenir';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 6px 10px;
    }
    .cards {
      display: grid;
      grid-template-columns:repeat(4,1fr);
      gap: 10px;
      flex-wrap: wrap;
      max-height: 460px;
      overflow-y: scroll;
      width: 100%;
      margin: auto;
      align-items: flex-start;
      justify-content: center;
      background: #E9F4F9;
      padding: 10px ;
    }
    .cards .card {
      border-radius: 11px;
      border: 2px solid rgba(57, 128, 195, 0.16);
      background: #FFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      cursor: pointer;
      height:100%;
      position:relative;
    }
    .form-container3 {
     
      padding: 0;
    }
    .form-container3 .form {
      display: flex;
      flex-direction: column;
      background-color: rgb(245 245 245);
      padding: 20px;
      width:100% !important;
      margin: 20px auto;
      max-width:750px;
      border-radius: 11px;
      border: 1px solid rgba(6, 55, 79, 0.16);
      background: #FFF;
    }
    .form-container3 .form label{
      color: #06374F;
      font-family: 'Avenir';
      font-size: 18px;
      font-style: normal;
      font-weight: 350;
      line-height: normal;
    }
    .form-container3 .form .age-checkbox label{
      max-width:100px;
    }
    .form-container3 .form .age-checkbox label p{
      max-width:100px;
      margin-top:6px;
      text-align:center;
    }
    .form-container3 .form input {
      color: #818181;
      font-family: 'Avenir';
      font-size: 18px;
      font-style: normal;
      font-weight: 350;
      line-height: normal;
      margin-bottom: 20px;
      padding: 10px 20px;
      border-radius: 4px;
      border: 1px solid rgba(6, 55, 79, 0.16);
      background: #FFF;
      margin-top: 2px;
    }
    .form-container1,
    .form-container2,
    .form-container3,
    .form-container4 {
      margin: auto;
      max-width: 1000px;
    }
    .submit {
         min-width: 129px;
      padding: 6px;
    }
   
    .form-container4{
      width:80%;
      border-radius: 11px;
      border: 1px solid rgba(6, 55, 79, 0.16);
      max-width:600px;
      background: #E9F4FA;
      padding:30px 0;
  }
    .form-container4-inner {
      color: #06374F;
      text-align: center;
      font-family: 'Avenir';
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 30px;
      padding-top:0;
      margin: auto;
    }
    .form-container4-note{
      color: #06374F;
      text-align: center;
      font-family: 'Avenir';
      font-size: 18px;
      font-style: normal;
      font-weight: 350;
      line-height: normal;
      padding:0 100px;
  }
    .form-container4-note span{
      font-size:18px;
      font-weight: 500;
      line-height: 40px;
  }
    .form-container4-inner p {
      font-size: 24px;
      text-align: center;
      width: 80%;
  
      margin: auto;
      font-weight: 700;
    }
    .footer-right {
      display: flex;
      flex-direction: column;
      justify-content:center;
      width: 60%;
      align-items: center;
    }
   
    .footer-right p {
      color: #06374F;
      text-align: center;
      font-family: 'Avenir';
      font-size: 16px;
      font-style: normal;
      font-weight: 350;
      line-height: normal;
    }
    .footer-right p a{
      color: #3980C3;
      font-family: Avenir;
      font-size: 16px;
      font-style: normal;
      cursor:pointer;
      font-weight: 800;
      line-height: normal;
      text-decoration-line: underline;
    }
    .form-container2 .footer .footer-right {
      margin-top: 25px;
    }
    
    input[type='checkbox'] {
      height:28px;
      width:28px;
    }
  
    input[type="checkbox"]:checked + .label p {
       font-weight:600;
      }
    .heading-2-top{
      display:flex; 
      align-items:center; 
      justify-content:end;
   }
    .heading-sort{
      white-space:nowrap;
      margin: 10px 0px;
      color: #06374F;
      font-family: Avenir;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  
  .theme-buttons-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    align-items: baseline;
    width:100%;
    gap:1.5rem;
    margin-bottom:2rem;
  }
  .age-checkbox{
    display:flex;
    gap:6px;
  }
    @media (max-width: 750px){
      .cards {
          grid-template-columns:repeat(3,1fr);
        }
        .banner-q1 {
          margin:0 -10px 20px -10px;
      }
        .banner-q1 .desk{
          display:none;
      }
      .banner-q1 .mob{
          display:block;
          width:100%;
      }
      .theme-buttons-grid{
        grid-template-columns:1fr 1fr 1fr;
      }
      }
    @media (max-width: 560px) {
      .cards {
          grid-template-columns:repeat(2,1fr);
        }
        .lead-gen-container{
          padding:2rem 1rem;
          padding: 30px 10px;
          padding-top:9px;
      }
      .heading-conatiner .sub-heading{
          font-size: 16px;
          width:100%;
      }
      .form-container2 .heading-2 .title,
    .form-container3 .heading-3.title {
      font-size: 20px;
      margin:0 auto;
    }
      .age-buttons.m1{
          grid-template-columns:repeat(2,1fr);
          gap:0;
          column-gap:1rem;
      }
      .age-buttons.m1 label img{
          max-height:unset;
      }
      .heading p{
          display:flex;
          flex-direction:column;
          align-items:flex-start;
          gap:0.5rem;
      }
      .heading-2-top{
          flex-direction:column-reverse;
      }
      .heading-2-top .heading-sort{
          width:100%;
          font-size:16px;
          text-align:end;
      }
      .form-container2 .heading-2 .sort-item{
        font-size:16px;
      }
      .form-container4{
          width:100%;
      }
      .form-container4-note{
         text-align:center;
      }
      .form-container4-inner{
        padding:20px;
        padding-top:0;
      }
      .form-container4-inner p {
          font-size: 20px;
          text-align: center;
          width:100%;
          font-weight: 700;
        }
      .age-buttons label img,
      .theme-buttons img {
        max-height: 100px;
        cursor: pointer;
      }
      .cards {
        width: 100%;
      }
      .footer {
        flex-direction: column;
      }
  
      .footer .footer-right {
        width: 80%;
      }
   
      .footer .heading-conatiner-2 .sort-container {
        justify-content: center;
        gap: 6px;
        text-align: center;
        margin-left: 0;
        margin-bottom: 10px;
      }
      .footer .heading-conatiner-2 .sort-container .sort-item {
        width: auto;
        min-width: 110px;
        padding: 10px 4px;
        font-size: 14px;
        font-weight: bold;
        white-space: nowrap;
      }
      button{
        font-size:20px;
    }
     
      .backButton button svg{
          height:13px;
          
      }
  
      .age-buttons label, .theme-buttons label{
          width: 100%;
      text-align: center;
      }
      .form-container3 .form label{
        font-size: 16px;
      }
      .form-container3 .form input {
        font-size: 16px;
      }
      
      input[type='checkbox']{
        height:20px;
        width:20px;
        top: 4px;
      left: 4px;
      }
      
      .form-container4-note{
        font-size: 16px;
        padding:0 30px;
    }
      .form-container4-note span{
        font-size:16px;
        line-height: 40px;
    }
   
    .theme-buttons-grid{
      grid-template-columns:1fr 1fr;
    }
    }
    
   
    .form span{
      color: #D73D4A;
      font-family: 'Avenir';
      font-size: 16px;
      font-style: normal;
      font-weight: 350;
      line-height: normal;
      margin-top: -16px;
  }
  .lead-gen-toast{
      text-align: center;
      position: fixed;
      bottom: 4rem;
      right:0;
      left:0;
      transition:1s ease;
  }
  .lead-gen-toast span{
      color: red;
      padding: 1rem 2rem;
      background: #ebd8d8;
      border-radius: 8px;
  }
  .questions-tab{
    display: flex;
      justify-content: center;
      gap: 12px;
  }
  .questions-tab .tab{
    
      background: white;
      padding: 10px;
      font-size: 18px;
      font-family: system-ui;
      font-weight: 600;
      border-radius: 50%;
      color:rgb(255,135,99);
  
  }
  
  .next-back-button{
    display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px 
  }
  
  </style>
  
  <div class="lead-gen-container page-width">
    <div class="banner-q1">
      <img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Banner_1f1d9d95-41aa-4432-9a4f-0a4f9da218ee.png?v=1704957560" loading="lazy" alt="gemform"  width="100%" height="100%" class="mob"/>
      <img src="https://cdn.shopify.com/s/files/1/0568/1945/0045/files/Banner_1.png?v=1704957561" loading="lazy" alt="gemform"  width="100%" height="100%"  class="desk"/>
  </div>
    
    <div class="form-container3" style="display:block" id="step-2" >
      
      {% comment %} <div class="heading-3 title">Please share the following details -</div> {% endcomment %}
      <div class="heading-conatiner">
        <p class="sub-heading">
          We have a wide range of products to cater to all age groups. To help us serve you better, please share the details below:   
        </p>
      </div>
      <form class="form" id="form">
        <label style="margin-bottom:14px">What age group are you looking at? *</label>
        <div class="theme-buttons-grid">
          <div class="age-checkbox">
            <input type="checkbox" id="age-0" name="age-group" value="Ages 0-3" 
            ><label class="label" for="age-0">
              <img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Age_1.png" id="0-3" class="0-3" alt="age1"  width="100%" height="100%" value="our-products-for-ages-0-3">
              <p>Ages 0-3</p>
            </label>
          </div>
          <div class="age-checkbox">
            <input type="checkbox" id="age-3" name="age-group" value="Ages 3+"
            ><label class="label" for="age-3"
              ><img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Age_3.png" id="3+" class="3+" alt="age 3"  width="100%" height="100%" value="3-6-years">
              <p>Ages 3+</p>
            </label>
          </div>
          <div class="age-checkbox">
            <input type="checkbox" id="age-6" name="age-group" value="Ages 6+"
            ><label class="label" for="age-6">
              <img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Age_6.png" id="6+" class="6+" alt="age 6"  width="100%" height="100%" value="6-9-years">
              <p>Ages 6+</p>
            </label>
          </div>
          <div class="age-checkbox">
            <input type="checkbox" id="age-8" name="age-group" value="Ages 8+"
            ><label class="label" for="age-8"
              ><img src="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Age_8.png" id="8+" class="8+" alt="age 8"  width="100%" height="100%" value="8-13-years">
              <p>Ages 8+</p>
            </label>
          </div>
        </div>
        <label for="item-quantity">Quantity you’re looking at? *</label>
        <input type="number" name="item-quantity" placeholder="Enter the quantity here">
        <span class="quantitySM" style="display:none">Qunatity is required*</span>
        <label for="amount">Budget per product? *</label>
        <input type="number" name="amount" placeholder="Enter the price here">
        <span class="amountSM" style="display:none">Amount is required*</span>
        <label for="date-of-product">Estimated delivery date</label>
        <input name="date-of-product" type="date" style="width:100%">
        <span class="date-of-productSM" style="display:none">Date is required*</span>
        <label for="no">Contact number *</label>
        <input type="number" maxlength="10" name="number" id="mob_num" placeholder="Enter your phone number here">
        <span class="numberSM" style="display:none">Enter Mobile Number or Email*</span>
        <span class="numberSMValid" style="display:none">Invalid phone number</span>
        <label for="name">Name *</label>
        <input type="text" name="name" placeholder="Enter your name here">
        <span class="nameSM" style="display:none">Name is required*</span>
        <label for="mail" id="usr_email">Email ID *</label>
        <input name="mail" type="email" placeholder="Enter your email ID here">
        <span class="mailSM" style="display:none">Enter Mobile Number or Email*</span>
        <span class="mailSMValid" style="display:none">Invalid email ID</span>
      </form>
      <div class="next-back-button">  
      <button class="submit formSubmit">Submit</button>
      </div>
    </div>
    <div style="padding-top:4rem">
    <div class="form-container4" style="margin-top:10px;display:none" id="step-3">
      <div class="form-container4-inner">
          <p>Thank you!<br> We will get in touch with you soon to provide personalized recommendations</p>
      </div>
      <div class="form-container4-note">
          If you want to get in touch with us, you can call/ text on this number: <br><span>+91-9152331018</span>
      </div>
    </div>
    </div>
  </div>
  <div class="lead-gen-toast" style="display:none">
      <span></span>
  <div>
  
 
  <script>
  
       
  
    window.onload=function(){
      var today = new Date().toISOString().split('T')[0];
      document.getElementsByName("date-of-product")[0].setAttribute('min', today);
          }
      window.history.replaceState(null, null, "/pages/lead-gen-form"); 
      let localData1={
          ageGroup:"",
          sort:"",
          category:"",
      }
      localStorage.setItem("localData",JSON.stringify(localData1))
      
      function getAges(){
        const ages=[];
        document.querySelectorAll('.age-checkbox input').forEach(item=>{
          if(item.checked){
            ages.push(item.value)
          }
        })
        return ages;
      }
      function toggleToast(message){
         document.querySelector('.lead-gen-toast span').innerText=message;
         document.querySelector('.lead-gen-toast').style.display='block';
  
         setTimeout(()=>{
          document.querySelector('.lead-gen-toast').style.display='none';
          },2000)
      }
      
  </script>
  <script>
      const mutation=`mutation GenericForm($name:String!,$email:String!,$formName:String,$phone:String!,$responseBody:String!,$client:ID) {
          genericFormCreate(
              input: { name:$name,email:$email,formName:$formName,phone:$phone,responseBody:$responseBody,client:$client}
          ) {
              genericForm {
              responseId
              responseBody
              formName
              name
              phone
              email
              client {
                  clientName
              }
          
              createdAt
              id
              }
              genericFormErrors {
              code
              message
              field
              }
          }
      }`
  
    function validateEmail(input){
          var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
          if(input.match(validRegex)){
            return true;
          }
          return false;
    }
    document.querySelector('.formSubmit').addEventListener('click', (e) => {
          let formValid=true;
          let name="";
          let email="dummy@dummy.com";
          let mob="9999999999";
          let quantity=0;
          let amount=0;
          let date="";
          document.querySelectorAll(".form input").forEach((button) => {
             if(button.name=="item-quantity"){
                  if(button.value){
                      quantity=button.value;
                      document.querySelector('.quantitySM').style.display="none";
                  }else{
                      document.querySelector('.quantitySM').style.display="block";
                      formValid=false;
                  }
              }
              else if(button.name=="amount"){
                  if(button.value){
                      amount=button.value;
                      document.querySelector('.amountSM').style.display="none";
                  }else{
                      document.querySelector('.amountSM').style.display="block";
                      formValid=false;
                  }
              }
              else if(button.name=="date-of-product"){
                  if(button.value){
                      date=button.value;
                  }
              } 
              else if(button.name=="number"){
                  if(button.value){
                      mob=button.value;
                      document.querySelector('.numberSM').style.display="none";
                  }
              }
              else if(button.name=="name"){
                  if(button.value){
                      name=button.value;
                      document.querySelector('.nameSM').style.display="none";
                  }else{
                      document.querySelector('.nameSM').style.display="block";
                      formValid=false;
                  }
              }
              else if(button.name=="mail"){
                  if(button.value){
                      email=button.value;
                      document.querySelector('.mailSM').style.display="none";
                  }
              } 
          }) 
          if(mob=="9999999999" && email=="dummy@dummy.com"){
              formValid=false;
              document.querySelector('.mailSM').style.display="block";
              document.querySelector('.numberSM').style.display="block";
          }
          else if(mob!="9999999999" && email!="dummy@dummy.com"){
            let mobtemp= false;
            let emailtemp= false;
            if(mob.length==10){
              document.querySelector('.numberSMValid').style.display="none";
              document.querySelector('.mailSM').style.display="none";
              mobtemp=true;
            }else{
              document.querySelector('.numberSMValid').style.display="block";
              temobtempmp=false;
            }
            if(validateEmail(email)){
              document.querySelector('.mailSMValid').style.display="none";
              document.querySelector('.numberSM').style.display="none";
              emailtemp=true; 
            }else{
              document.querySelector('.mailSMValid').style.display="block";
              emailtemp=false; 
            }
            formValid=mobtemp && emailtemp;
          }
          else if(mob!="9999999999") {
            if(mob.length==10){
                document.querySelector('.numberSMValid').style.display="none";
                document.querySelector('.mailSM').style.display="none";
                formValid=true;
            }else{
              document.querySelector('.numberSMValid').style.display="block";
              formValid=false;
            }
            
          }
          else if(email!="dummy@dummy.com"){
            if(validateEmail(email)){
              document.querySelector('.mailSMValid').style.display="none";
              document.querySelector('.numberSM').style.display="none";
              formValid=true; 
            }else{
              document.querySelector('.mailSMValid').style.display="block";
              formValid=false; 
            }
          }
          else{
              document.querySelector('.mailSM').style.display="none";
              document.querySelector('.numberSM').style.display="none";
          }

          const selectedAges=getAges();
          if(formValid){
              fetch('https://farzionehapi.farziengineer.co/graphql/?source=website', {
                  method: 'POST',
                  headers: {
                      'content-type': 'application/json',
                  },
                  body: JSON.stringify({
                      query:mutation,
                      variables: {
                      name:name,
                      email:email,
                      formName:"leadGenForm",
                      phone:`+91${mob}`,
                      responseBody:JSON.stringify({
                          ageGroups:selectedAges,
                          quantity:quantity,
                          amount:amount,
                          delivery_date:date
                      }),
                      client:"Q2xpZW50OjEy"
                      },
                  }),
                  })
                  .then(res => res.json())
                  .then(({data, errors})=> {
                      if(errors && errors.length>0){
                          toggleToast("Enter valid Data")
                      }else{
                      document.getElementById('step-2').style.display="none";
                      document.getElementById('step-3').style.display="block";
                      document.body.scrollTop = document.documentElement.scrollTop = 0;
                      localStorage.setItem("formStep","3");
                      document.querySelector(".banner-q1").style.display="none";
                      window.history.replaceState(null, null, "?success=true");  
                      document.getElementById("form").reset();
                      }
                  })
          }
      });
  </script>
  
  {% schema %}
  {
    "name": "Lead-gen-form-new",
    "tag": "section",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Lead Gen Form New",
        "settings": {}
      }
    ]
  }
  {% endschema %}
  