{% if page.url == '/pages/expansion-packs' %}
<style>
  @media screen and (max-width :749px){
div#tt-pageContent{
  padding-bottom:0px !important
}
  }
  footer{
 margin-top:0px; 
}

</style>
{% endif %}

<style>
   .list-group {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
     padding: 1% 25%;
       background-color:#fbfbeb;


}



.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  border: 1px solid rgba(0,0,0,.125);
}

.btn-group {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

</style>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between">
    Guess in 10 All Around the Town - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-All-Around-The-Town-Expansion-Pack.pdf?v=1643963456" class="btn">Download</a>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    Guess in 10 Animal Planet - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-Animal-Planet-Expansion-Pack.pdf?v=1643964622" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 Cities Around The World - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-Cities-Around-The-World-Expansion-Pack_1.pdf?v=1643964684" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 Countries of the World - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-Countries-Of-The-World-Expansion-Pack.pdf?v=1643964968" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 Deadly Dinosaurs - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-Deadly-Dinosaurs-Expansion-Pack.pdf?v=1643965020" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 Foods Around The World - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-Founds-Around-The-World-Expansion-Pack.pdf?v=1643965074" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 Inspiring Professions - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-Inspiring-Professions-Expansion-Pack.pdf?v=1643965124" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 Jr. Animal Kingdom - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-Jr-Animal-Kingdom-Expansion-Pack.pdf?v=1643965174" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 Jr. Community Helpers - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-Jr-Community-Helpers-Expansion-Pack.pdf?v=1643965242" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 Jr. Food We Eat - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-Jr-Food-We-Eat-Expansion-Pack.pdf?v=1643965337" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 Jr. Inside My House - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-Jr-Inside-My-House-Expansion-Pack.pdf?v=1643965643" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 Legendary Landmarks - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-Legendary-Landmarks-Expansion-Pack.pdf?v=1643965745" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 Professions - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/professions.pdf?v=1643965772" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 States of America - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-States-of-America-Expansion-Pack.pdf?v=1643965825" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 The 50 States - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/states_of_america.pdf?v=1643965843" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 Things That Go! - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-Things-That-Go-Expansion-Pack.pdf?v=1643965897" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 Trip Through Town - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-Trip-Through-Town-Expansion-Pack.pdf?v=1643965959" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 Underwater Animals - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-Underwater-Animals-Expansion-Pack.pdf?v=1643966018" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 Wheels, Wings and More - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-Wheels-Wings-More-Expansion-Pack.pdf?v=1643966045" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 World of Animals - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-World-of-Animals-Expansion-Pack.pdf?v=1643966103" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 World of Dinosaurs - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-World-Of-Dinosaurs-Expansion-Pack.pdf?v=1643966144" class="btn btn-success">Download</a>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between">
    Guess in 10 World of Sports - Downloadable Expansion Pack
    <div class="btn-group">
      <a href="https://cdn.shopify.com/s/files/1/0586/8149/1647/files/Guess-in-10-World-Of-Sports-Expansion-Pack.pdf?v=1643966184" class="btn btn-success">Download</a>
    </div>
  </li>
</ul> 

<style>

li.list-group-item.d-flex.justify-content-between {
    border-left: none !important;
    border-right: none;
}
@media (max-width: 767px) {
  
  ul.list-group {
    padding: 15px !important;
}
li.list-group-item.d-flex.justify-content-between {
    font-size: 12px !important;
    padding: 8px;
}
}
</style>